<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ asset('Prototype/Ucss/User.css') }}"/>
<script id="applicationScript" type="text/javascript" src="Uscript/User.js"></script>
</head>
<body>
<div id="User">
	<img id="Calque_1_bfr" src="{{ asset('Prototype/Uimage/Calque_1_bfr.png') }}" srcset="{{ asset('Prototype/Uimage/Calque_1_bfr.png 1x, Uimage/Calque_1_bfr@2x.png 2x') }}">
		
	<div id="Page_Connexion__bfs">
		<div id="menu_bft">
			<svg class="Rectangle_1_bfv">
				<linearGradient id="Rectangle_1_bfv" spreadMethod="pad" x1="0.5" x2="0.5" y1="1" y2="0">
					<stop offset="0" stop-color="#28343b" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#004a95" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Rectangle_1_bfv" rx="75" ry="75" x="0" y="0" width="1620" height="144">
				</rect>
			</svg>
			<div id="Bienvenue_sur_votre_AppStock_bfw">
				<span>Bienvenue sur votre </span><span style="color:rgba(159,5,30,1);">App</span><span>Stock</span>
			</div>
			<img id="logo4-b_bfx" src="{{ asset('Prototype/Uimage/logo4-b_bfx.png') }}" srcset="{{ asset('Prototype/Uimage/logo4-b_bfx.png 1x, Uimage/logo4-b_bfx@2x.png 2x') }}">
				
		</div>
		<div id="Connexion_body_bfy">
			<img id="icon-128x128-2_bfz" src="{{ asset('Prototype/Uimage/icon-128x128-2_bfz.png') }}" srcset="{{ asset('Prototype/Uimage/icon-128x128-2_bfz.png 1x, Uimage/icon-128x128-2_bfz@2x.png 2x') }}">
				
			<div id="AppStock_bf">
				<span>App</span><span style="color:rgba(255,255,255,1);">Stock</span>
			</div>
			<img id="Rectangle_Form_bf" src="{{ asset('Prototype/Uimage/Rectangle_Form_bf.png') }}" srcset="{{ asset('Prototype/Uimage/Rectangle_Form_bf.png 1x, Uimage/Rectangle_Form_bf@2x.png 2x') }}">
				
			<svg class="Rectangle_Email_bf">
				<rect id="Rectangle_Email_bf" rx="25" ry="25" x="0" y="0" width="528" height="50">
				</rect>
			</svg>
			<div id="Email_bf">
				<span>Email</span>
			</div>
			<div id="User_bf">
				<span>User</span>
			</div>
			<svg class="Rectangle_Pwd_bf">
				<rect id="Rectangle_Pwd_bf" rx="25" ry="25" x="0" y="0" width="528" height="50">
				</rect>
			</svg>
			<div id="Password_bf">
				<span>Password</span>
			</div>
			<img id="password__icon_bf" src="{{ asset('Prototype/UimageUimage/password__icon_bf.png') }}" srcset="{{ asset('Prototype/UimageUimage/password__icon_bf.png 1x, Uimage/password__icon_bf@2x.png 2x') }}">
				
			<svg class="Rectangle_Connexion_bf">
				<rect id="Rectangle_Connexion_bf" rx="25" ry="25" x="0" y="0" width="269" height="50">
				</rect>
			</svg>
			<div id="Connexion_bf">
				<span>Connexion</span>
			</div>
		</div>
		<div id="footer_bga">
			<svg class="Rectangle_footer_bgb">
				<rect id="Rectangle_footer_bgb" rx="45" ry="45" x="0" y="0" width="1620" height="112">
				</rect>
			</svg>
			<svg class="tel_bgc" viewBox="970.087 6385.58 116.825 94.839">
				<path id="tel_bgc" d="M 1068.492431640625 6385.580078125 C 1068.492431640625 6385.580078125 988.50048828125 6385.580078125 988.50048828125 6385.580078125 C 978.3338012695312 6385.580078125 970.08740234375 6392.2568359375 970.08740234375 6400.52490234375 C 970.08740234375 6400.52490234375 970.08740234375 6465.474609375 970.08740234375 6465.474609375 C 970.08740234375 6473.7294921875 978.3338012695312 6480.4189453125 988.50048828125 6480.4189453125 C 988.50048828125 6480.4189453125 1068.492431640625 6480.4189453125 1068.492431640625 6480.4189453125 C 1078.666137695312 6480.4189453125 1086.91259765625 6473.7294921875 1086.91259765625 6465.474609375 C 1086.91259765625 6465.474609375 1086.91259765625 6400.52490234375 1086.91259765625 6400.52490234375 C 1086.91259765625 6392.2568359375 1078.666137695312 6385.580078125 1068.492431640625 6385.580078125 Z M 1026.7373046875 6395.47607421875 L 1028.017700195312 6411.83544921875 L 1023.366882324219 6412.92578125 L 1021.1298828125 6395.03759765625 L 1026.7373046875 6395.47607421875 Z M 1046.7080078125 6469.533203125 C 1046.7080078125 6469.533203125 1026.30517578125 6469.1953125 1026.30517578125 6469.1953125 C 992.6038818359375 6439.93310546875 998.0960083007812 6405.89892578125 998.0960083007812 6405.89892578125 L 1013.446716308594 6395.18798828125 L 1016.470275878906 6395.18798828125 L 1018.930908203125 6413.90234375 L 1012.212890625 6417.52294921875 L 1029.391357421875 6454.0625 L 1036.125122070312 6452.32177734375 L 1049.038208007812 6467.9423828125 L 1046.7080078125 6469.533203125 Z M 1053.188354492188 6466.05126953125 L 1039.527221679688 6450.68115234375 L 1044.702514648438 6448.87646484375 L 1056.613159179688 6463.2705078125 L 1053.188354492188 6466.05126953125 Z">
				</path>
			</svg>
			<img id="whatsapp_bgd" src="{{ asset('Prototype/UimageUimage/whatsapp_bgd.png') }}" srcset="{{ asset('Prototype/UimageUimage/whatsapp_bgd.png 1x, Uimage/whatsapp_bgd@2x.png 2x') }}">
				
			<img id="messenger_bge" src="{{ asset('Prototype/UimageUimage/messenger_bge.png') }}" srcset="{{ asset('Prototype/UimageUimage/messenger_bge.png 1x, Uimage/messenger_bge@2x.png 2x') }}">
				
			<img id="insta_bgf" src="{{ asset('Prototype/UimageUimage/insta_bgf.png') }}" srcset="{{ asset('Prototype/UimageUimage/insta_bgf.png 1x, Uimage/insta_bgf@2x.png 2x') }}">
				
			<img id="youtube_bgg" src="{{ asset('Prototype/UimageUimage/youtube_bgg.png') }}" srcset="{{ asset('Prototype/UimageUimage/youtube_bgg.png 1x, Uimage/youtube_bgg@2x.png 2x') }}">
				
			<div id="Mahamadou_Issagha_Diop_bgh">
				<span>Mahamadou Issagha Diop</span>
			</div>
			<img id="copyright_bgi" src="{{ asset('Prototype/UimageUimage/copyright_bgi.png') }}" srcset="{{ asset('Prototype/UimageUimage/copyright_bgi.png 1x, Uimage/copyright_bgi@2x.png 2x') }}">
				
		</div>
	</div>
	<div id="Page_User__bgj">
		<div id="menu_bgk">
			<svg class="Rectangle_1_bgm">
				<linearGradient id="Rectangle_1_bgm" spreadMethod="pad" x1="0.5" x2="0.5" y1="1" y2="0">
					<stop offset="0" stop-color="#28343b" stop-opacity="1"></stop>
					<stop offset="1" stop-color="#004a95" stop-opacity="1"></stop>
				</linearGradient>
				<rect id="Rectangle_1_bgm" rx="75" ry="75" x="0" y="0" width="1620" height="144">
				</rect>
			</svg>
			<div id="Logo_bgn">
				<span>Logo</span>
			</div>
			<img id="logo4-b_bgo" src="{{ asset('Prototype/Uimage/logo4-b_bgo.png') }}" srcset="{{ asset('Prototype/Uimage/logo4-b_bgo.png 1x, Uimage/logo4-b_bgo@2x.png 2x') }}">
			
			<a class="collapse-item" href="{{ path('accueil')}}">	
			<div onclick="application.goToTargetView(event)" id="Acceuil_bgp">
				<span>Acceuil</span>
			</div>
			</a>
			<a class="collapse-item" href="{{ path('produit_liste')}}">
			<div onclick="application.goToTargetView(event)" id="Produit_bgq">
				<span>Produit</span>
			</div>
			</a>
			<a class="collapse-item" href="{{ path('categorie_liste')}}">
			<div onclick="application.goToTargetView(event)" id="Categorie_bgr">
				<span>Categorie</span>
			</div>
			</a>
			<svg class="Rectangle_login_bgs">
				<rect id="Rectangle_login_bgs" rx="20" ry="20" x="0" y="0" width="157" height="50">
				</rect>
			</svg>
			<div id="Login_bgt">
				<span>Login</span>
			</div>
			<svg class="Rectangle_Sing_in_bgu">
				<rect id="Rectangle_Sing_in_bgu" rx="20" ry="20" x="0" y="0" width="199" height="50">
				</rect>
			</svg>
			<div id="Sign_in_bgv">
				<span>Sign in</span>
			</div>
			<svg class="Rectangle_Profil_bgw">
				<rect id="Rectangle_Profil_bgw" rx="20" ry="20" x="0" y="0" width="157" height="50">
				</rect>
			</svg>
			<div id="Profil_bgx">
				<span>Profil</span>
			</div>
			<svg class="Rectangle_Log_out_bgy">
				<rect onclick="application.goToTargetView(event)" id="Rectangle_Log_out_bgy" rx="20" ry="20" x="0" y="0" width="199" height="50">
				</rect>
			</svg>
			<a href="{{path('app_logout')}}">
			<div id="Log_out__bgz">
				<span>Log out</span><br/>
			</div>
			</a>
		</div>
		<div id="user_body_bg">
			<img id="icon-128x128-2_bg" src="{{ asset('Prototype/Uimage/icon-128x128-2_bg.png') }}" srcset="{{ asset('Prototype/Uimage/icon-128x128-2_bg.png 1x, Uimage/icon-128x128-2_bg@2x.png 2x') }}">
				
			<div id="AppStock_bg">
				<span>App</span><span style="color:rgba(255,255,255,1);">Stock</span>
			</div>
			<img id="Rectangle_Form_bg" src="{{ asset('Prototype/Uimage/Rectangle_Form_bg.png') }}" srcset="{{ asset('Prototype/Uimage/Rectangle_Form_bg.png 1x, Uimage/Rectangle_Form_bg@2x.png 2x') }}">
				

				<section class="container">
					<div class="row">
						<div class="col">

							<h1>Register</h1>

							{{ form_start(registrationForm) }}
								<fieldset class="mb-3">
									<legende>Identification</legende>
									{{ form_row(registrationForm.nom) }}
									{{ form_row(registrationForm.prenom) }}
									{{ form_row(registrationForm.email) }}
									{{ form_row(registrationForm.roles) }}
									{{ form_row(registrationForm.plainPassword, {
										label: 'Password'
									}) }}
									{{ form_row(registrationForm.agreeTerms) }}
								</fieldset>

								<button type="submit" class="btn btn-primary btn-lg m3-3 ">Inscrire</button>
							{{ form_end(registrationForm) }}
						</div>
					</div>
				</section>

		</div>
		<div id="footer_bho">
			<svg class="Rectangle_footer_bhp">
				<rect id="Rectangle_footer_bhp" rx="45" ry="45" x="0" y="0" width="1620" height="112">
				</rect>
			</svg>
			<svg class="tel_bhq" viewBox="970.087 7463.58 116.825 94.839">
				<path id="tel_bhq" d="M 1068.492431640625 7463.580078125 C 1068.492431640625 7463.580078125 988.50048828125 7463.580078125 988.50048828125 7463.580078125 C 978.3338012695312 7463.580078125 970.08740234375 7470.2568359375 970.08740234375 7478.5244140625 C 970.08740234375 7478.5244140625 970.08740234375 7543.474609375 970.08740234375 7543.474609375 C 970.08740234375 7551.72998046875 978.3338012695312 7558.4189453125 988.50048828125 7558.4189453125 C 988.50048828125 7558.4189453125 1068.492431640625 7558.4189453125 1068.492431640625 7558.4189453125 C 1078.666137695312 7558.4189453125 1086.91259765625 7551.72998046875 1086.91259765625 7543.474609375 C 1086.91259765625 7543.474609375 1086.91259765625 7478.5244140625 1086.91259765625 7478.5244140625 C 1086.91259765625 7470.2568359375 1078.666137695312 7463.580078125 1068.492431640625 7463.580078125 Z M 1026.7373046875 7473.4765625 L 1028.017700195312 7489.83544921875 L 1023.366882324219 7490.92578125 L 1021.1298828125 7473.03759765625 L 1026.7373046875 7473.4765625 Z M 1046.7080078125 7547.533203125 C 1046.7080078125 7547.533203125 1026.30517578125 7547.1953125 1026.30517578125 7547.1953125 C 992.6038818359375 7517.9326171875 998.0960083007812 7483.89892578125 998.0960083007812 7483.89892578125 L 1013.446716308594 7473.18798828125 L 1016.470275878906 7473.18798828125 L 1018.930908203125 7491.90283203125 L 1012.212890625 7495.5234375 L 1029.391357421875 7532.06298828125 L 1036.125122070312 7530.32177734375 L 1049.038208007812 7545.9423828125 L 1046.7080078125 7547.533203125 Z M 1053.188354492188 7544.05126953125 L 1039.527221679688 7528.68115234375 L 1044.702514648438 7526.876953125 L 1056.613159179688 7541.27001953125 L 1053.188354492188 7544.05126953125 Z">
				</path>
			</svg>
			<img id="whatsapp_bhr" src="{{ asset('Prototype/Uimage/whatsapp_bhr.png') }}" srcset="{{ asset('Prototype/Uimage/whatsapp_bhr.png 1x, Uimage/whatsapp_bhr@2x.png 2x') }}">
				
			<img id="messenger_bhs" src="{{ asset('Prototype/Uimage/messenger_bhs.png') }}" srcset="{{ asset('Prototype/Uimage/messenger_bhs.png 1x, Uimage/messenger_bhs@2x.png 2x') }}">
				
			<img id="insta_bht" src="{{ asset('Prototype/Uimage/insta_bht.png') }}" srcset="{{ asset('Prototype/Uimage/insta_bht.png 1x, Uimage/insta_bht@2x.png 2x') }}">
				
			<img id="youtube_bhu" src="{{ asset('Prototype/Uimage/youtube_bhu.png') }}" srcset="{{ asset('Prototype/Uimage/youtube_bhu.png 1x, Uimage/youtube_bhu@2x.png 2x') }}">
				
			<div id="Mahamadou_Issagha_Diop_bhv">
				<span>Mahamadou Issagha Diop</span>
			</div>
			<img id="copyright_bhw" src="{{ asset('Prototype/Uimage/copyright_bhw.png') }}" srcset="{{ asset('Prototype/Uimage/copyright_bhw.png 1x, Uimage/copyright_bhw@2x.png 2x') }}">
				
		</div>
	</div>
</div>
</body>
</html>